body {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-repeat: no-repeat;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.wave{
    margin-bottom: -10px;
}



.row {
  padding: 0px 20px;
}

.profileImage {
  width: 200px;
}

.profile h2,
h4 {
  color: white;
}

.profile h4 {
  text-decoration: underline;
  transform: translateY(-10px);
}

.biodata {
  padding-top: 100px;
  background: linear-gradient(#fffeff 0%, #ffffffd5 40%, #fdfdfd00 100%);
}



.skills{
    background: linear-gradient(#fffeff 0%, #ffffffd5 40%, #fdfdfd00 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.custom {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.section-header{
    text-align: center;
    margin-bottom: 60px;
}


.section-header p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0, 6);
}

.title-area{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transform: translateX(10px);
    margin-left: 30%;
    
}

.single-skill{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    margin-bottom: 2rem;
}

.skill-box{
    color: white;
    background-color: cadetblue;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.topic{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0, 8);
    font-family: sans-serif;
    font-weight: bold;
}

.bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: deepskyblue;
}

.bar-1{
    width: 90%;
    background-color: rgb(255, 251, 0);
}

.bar-2{
    width: 85%;
    background-color: rgb(255, 187, 0);
}

.bar-3{
    width: 85%;
}

.bar-4{
    width: 90%;
    background-color: rgb(201, 197, 197);
}

.bar-5{
    width: 80%;
    background-color: rgb(0, 217, 255);
}

@media screen and (min-width: 1024px){
  body{
    margin:0;
  }
  section{
    padding: 3rem 0 2rem;
  }
  .custom{
    margin-left:auto;
    margin-right:auto;
  }
}

.achievement {
  padding-top: 100px;
  background: linear-gradient(#fffeff 0%, #ffffffd5 40%, #fdfdfd00 100%);
  padding-bottom: 200px;
}

.footer {
  background: white;
}

.contact a {
  color: black;
  font-size: 40px;
  padding-bottom: 20px;
}

.contact p{
  padding-bottom: 50px;
}
