.navbar {
    background-color: white;
    transition: opacity 0.5s ease;
}
.navbar.scrolled {
    opacity: 0.8;
}
.header{
    background-color: #304463;
    background-image: url("../images/hashtag-icon-2048x2048-sz072ywi.png");
    background-size: 50%;
    background-position: 140% 55%;
    background-repeat:no-repeat;
    object-fit: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-head{
    text-align: left;
    font-weight: bold;
    color: white;
}

.title-desc{
    text-align: left;

    color: white;
}

.header .desc {
    text-shadow: none;
}

.header .carousel-item img{
    height: 200px;
    object-fit: cover;
    object-position: 0 70%;
}

.list-head{
    font-weight: bold;
    color:#304463;
    text-align: left;
}
.card-content{
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: white;

}

.card-content .icons img{
    background-color:#304463;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.second-row{
    padding-top: 35px;
}

.card-content p{
    font-weight: 600;
}

.card-content .list-head{
    padding-bottom: 20px;
}

.category-head{
    font-weight: bold;
    color: #304463;
    text-align: left;
    padding-top: 25px;
}

.btn-outline-secondary{
    border-color: #304463;
    border-width: 2px;
    font-weight: bold;
    color: #304463;
}
.btn-group-category{
    display: flex;
    flex-direction: row;
    gap:30px;

}

.category-section{
    padding-top: 35px;
    background-color: rgb(255, 208, 0);
    background-image: url(../images/lu_bu-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 130% 10%;
    padding-bottom: 60px;
}

.card-list{
    padding-top: 35px;
}

.card {
    max-width: 250px;
    margin: auto;
    background-color: #304463;  
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.skins-card {
    border-radius: 15px;
    max-width: 350px;
    margin: auto;
    background-color: rgb(255, 208, 0);  
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 35px;
}


.card-img-top {
    margin-top: 20px;
    height: 200px;
    object-fit: cover;
}
.card-body {
    padding: 1rem;
}
.card-title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card-text {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.card-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.skins-section{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #304463;
    background-image: url(../images/lu_bu-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 130% 0%;
}


.skins-head{
    font-weight: bold;
    color: rgb(255, 208, 0);
    text-align: left;
    padding-top: 25px;
}


.skins-section .carousel{
    width: 80%;
    object-fit: cover;
}

.skins-section .carousel-item img{
    height: 350px;
    object-fit: cover;
    object-position: 0 70%;
}

.skins-title{
    text-align: left;
    font-weight: bold;
    color: white;
}

.skins-desc{
    color: white;
    background: rgb(255, 208, 0);
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.skin-title{
    color: #304463;
    font-weight: bold;
}

.skin-desc{
    color: #304463;
}

.prices{

    font-weight: bold;
    color: #304463;
    text-decoration: underline;
}

.strike{
    transform: translateY(20px);
    font-weight: bold;
    color: white;
}

.footer {
    background-color: rgb(255, 208, 0);
    color: #fff;
    padding: 20px;
    text-align: left;
    
}
.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
}